/*
 * This file is part of OpenAdvertMap.
 *
 * OpenAdvertMap is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * OpenAdvertMap is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with OpenAdvertMap.  If not, see <http://www.gnu.org/licenses/>.
 */

/**
 * OAM CSS bundle
 */

/** Node modules imports **/
@import "../../node_modules/leaflet/dist/leaflet.css";
@import "../../node_modules/leaflet-geosearch/src/css/l.geosearch.css";
@import "../../node_modules/leaflet-overpass-layer/dist/OverPassLayer.css";
@import "../../node_modules/leaflet.locatecontrol/dist/L.Control.Locate.min.css";
@import "../../node_modules/font-awesome/css/font-awesome.min.css";


/** General style **/
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: #D35400;
	font-family: Arial, sans;
}

a {
	color: #1E8BC3;
	text-decoration: none;
}

header {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 50px;
	background-color: #FDE3A7;
	color: #d2d7d3;
	border-bottom: 1px solid #6C7A89;
}

header img.logo {
	height: 50px;
	margin: 0px 10px;
}

header span.catch {
	float: right;
	font-style: italic;
	line-height: 50px;
	vertical-align: middle;
	margin-right: 10px;
	color: #6C7A89;
}

#openadvertmap {
	position: absolute;
	top: 51px;
	left: 0;
	right: 0;
	bottom: 0;
}

#openadvertmap .leaflet-popup-content h3 {
	margin-bottom: 0;
}

.leaflet-popup-content p.oam-feature-details {
	text-align: center;
	margin-top: 5px;
}

.leaflet-popup-content p.oam-feature-details img {
	margin: 5px;
}

table.feature-info {
	width: 100%;
	border-collapse: separate;
	border-spacing: 5px;
}

table.feature-info td.label {
	font-weight: bold;
	width: 40%;
}

table.feature-info td.value {
	text-align: right;
}

.leaflet-bar-part .fa {
	line-height: 30px;
}
